<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<style>
    input {
        display: block;
    }
</style>
{% block notifications %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
<a href="{% url 'shop:index' %}">Лого</a>
<br>
{% for category in categories %}
    <a href="{% url 'shop:product-category' category.slug %}">{{ category }}</a>->{{ category.parent }}<br>
{% endfor %}
<a href="{% url 'user:my-account' %}">Мой аккаунт</a>
Корзина:
{% block basket %}
    Пусто
{% endblock %}
{% block body %}
{% endblock %}
</body>
</html>